@page "/about"
@model RazorPages_AppEx.Pages.AboutModel
@using RazorPages_AppEx.Pages
@{

    //var foo = new IndexModel().foo;

}

<div class="text-center">
    <h1 class="display-4 red">About page</h1>
    @*<p>@foo("About")</p>*@
</div>